html {
    height: 100%;
    margin: 0 auto;
}

button {
    margin: 5px;
}

.buttons {
    background: #e2e2e2;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    max-width: 1024px;
    margin: 1vh auto 1vh auto;
    text-align: center;
}

#gifs {
    background: #e2e2e2;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    max-width: 1024px;
    max-width: 1024px;
    margin: 1vh auto;
    text-align: center;
    
}

span {
    float: left;
    margin-right: 5px;
}

