html {
    height: 100%;
    margin: 0 auto;
}

button {
    margin: 5px;
}

#topics {
    background: #e2e2e2;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    max-width: 1024px;
    margin: 1vh auto;
    text-align: center;
}

#gifs {
    background: #e2e2e2;
    border-radius: 5px;  
    max-width: 1024px;
    margin: 1vh auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

#input-box {
    background: #e2e2e2;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    max-width: 1024px;
    margin: 1vh auto;
    padding: 10px;
    text-align: right;
}

input {
    border-radius: 5px;
}

p {
    margin-bottom: 3vh;
}

img {
    margin-top: 3vh;
    margin-right: 1vw;
    border-radius: 5px;
    border: 2px solid #a6c3e4;
}