html {
    height: 100%;
    margin: 0 auto;
}

button.show {
    margin: 5px;
}

button.remove-topic {
    justify-content: left;
}

#topics {
    background: #e2e2e2;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    max-width: 1024px;
    margin-top: 1vh;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#gifs {
    background: #e2e2e2;
    border-radius: 5px;  
    max-width: 1024px;
    margin: 1vh auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

#input-content {
    background: #e2e2e2;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    max-width: 1024px;
    margin-top: 1vh;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

#input-box {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

#topic-input {
    text-transform: capitalize;
}

input {
    border-radius: 5px;
}

.submit {
    margin-left: 5px;
}


p {
    margin-bottom: 2vh;
}

img {
    margin-top: 2vh;
    margin-right: 1vw;
    border-radius: 5px;
    border: 2px solid #a6c3e4;
}